.container-GradesCard {
  display: flex;
  flex-direction: column;
  height: 200rem;
  
  background-color: var(--BaseYellow);
}

.imagen-GradesCard {
  position: relative;
  background-position: center center;
  background-size: cover;
  height: 160rem;
  margin: 12rem;
  transition: all 300ms;
}

.container-GradesCard:hover > .imagen-GradesCard {
  transform: scale(1.03);
  transition: all 300ms;
}

.container-GradesCard p {
  color: var(--BaseTone);
  font-size: 15rem;
  font-weight: 400;
  margin: 0 0rem 10rem 10rem;
}

@media only screen and (min-width: 1400px) {
  .container-GradesCard {
    height: 300rem;
  }
  .imagen-GradesCard {
    height: 230rem;
  }

  .container-GradesCard p {
    font-size: 40rem;
  }
}
