.container_intro-Home {
  padding: 0 150rem;
  color: var(--BaseTone);
  width: 100%;
  height: 80vh;
  display: flex;
  background: rgb(65, 65, 65);
  background: linear-gradient(
    180deg,
    rgba(65, 65, 65, 1) 0%,
    rgba(70, 70, 70, 1) 50%,
    rgba(120, 120, 119, 1) 100%
  );
  align-items: center;
}

.imagen_intro-Home {
  width: 50%;
  height: 100%;
  background-image: url("../img/imagen_intro-Home.png");
  background-position: top center;
  transform: scaleX(-1);
  background-size: cover;
  position: relative;
}

.texto_intro-Home {
  width: 50%;
  height: 70%;
  padding-top: 40rem;
  font-size: 20rem;
  text-align: justify;
}

.title_intro-Home h2 {
  font-size: 130rem;
  line-height: 100rem;
  height: 100rem;
}

.title_intro-Home h3 {
  margin-left: 5rem;
  font-size: 70rem;
  line-height: 60rem;
  height: 60rem;
}
.title_intro-Home {
  margin-bottom: 30rem;
}
.container_cards-Home {
  color: var(--BaseTone);
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40rem 0;
}

.imagen_cards-Home {
  background-image: url("../img/imagen_cards-Home.jpg");
  height: 100%;
  background-size: cover;
  background-position: center center;
  width: 80%;
  margin: 0px 10% 0px 10%;
}

.card-Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_icon-Home {
  padding: 20px;
  height: 100%;
  width: 100%;
  font-size: 50rem;
  color: var(--BaseYellow);
  text-align: center;
}

.container_news-Home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: var(--BaseTone);
  width: 100%;
  height: 550rem;
  background-color: var(--LighterGray);
}

.text_news-Home {
  width: 100%;
  padding: 30rem;
  font-size: 22px;
  text-align: justify;
}

.text_news-Home h2 {
  font-size: 40rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 3rem 0px 1rem 0px;
}

.imagen_news-Home {
  background-image: url("../img/imagen_news-Home.jpg");
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 30;
}

.fixed-title {
  font-size: 40rem;
  font-weight: 600;
  background-color: var(--BaseYellow);
  padding: 10rem;
  position: absolute;
  right: 0;
  top: 20rem;
  margin-left: auto;
  margin-right: 0;
}

.icon_news-Home {
  position: absolute;
  right: 0;
  margin-right: 10rem;
  font-size: 40rem;
  top: 50%;
}

.icon_news-Home:hover {
  color: var(--DarkerTone);
  transition: 300ms;
}
@media only screen and (min-width: 1400px) {
  .container_intro-Home {
    padding: 0 280rem;
  }

  .container_cards-Home {
    height: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .container_intro-Home {
    position: relative;
  }
  .imagen_intro-Home {
    position: absolute;
    right: 0;
  }

  .container_cards-Home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    width: 100%;
    padding: 10px;
  }

  .imagen_cards-Home {
    height: 300rem;
    margin-top: 0;
  }
  .card_icon-Home {
    display: none;
  }

  .container_news-Home {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 2fr 3fr;
    height: max-content;
  }

  .text_news-Home {
    width: 100%;
    height: 100%;
    padding: 40rem;
  }

  .imagen_news-Home {
    height: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  main {
    font-size: 14rem;
  }

  .container_cards-Home {
    grid-template-columns: 1fr;
    height: auto;
  }
  .container_intro-Home {
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    padding: 10rem;
    justify-content: center;
    align-items: center;
  }

  .imagen_intro-Home {
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: 0;
  }

  .texto_intro-Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 10rem;
  }

  .texto_intro-Home h2 {
    font-size: 100rem;
  }

  .text_news-Home {
    font-size: 16rem;
  }

  .imagen_cards-Home {
    margin: 0;
    width: auto;
  }
}
