@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --BaseGray: #414141;
  --BaseYellow: #bfa753;
  --BaseTone: White;
  --BaseMain: #ebe9e9;
  --DarkerGray: #272727;
  --DarkerYellow: #8d7c3e;
  --DarkerTone: #c5c5c4;
  --LighterGray: #787877;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

html {
  font-size: 6.25%;
}

body {
  font-size: 16rem;
}

.yellow-filter {
  width: 100%;
  height: 100%;
  background-color: var(--BaseYellow);
  opacity: 40%;
  position: absolute;
}

.thin-line {
  height: 2px;
  background-color: var(--DarkerGray);
  margin-bottom: 20rem;
}

.gray-filter {
  width: 100%;
  height: 100%;
  background-color: var(--BaseGray);
  opacity: 40%;
  position: absolute;
}

.gray-center-text {
  background-color: var(--BaseGray);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20rem;
  vertical-align: center;
  padding: 0px 40rem;
  height: 100%;
  width: 100%;
}

.news-button {
  background-color: var(--BaseYellow);
  border: none;
  font-weight: 800;
  position: absolute;
  right: 0;
  font-size: 20rem;
  padding: 10rem;
}

.boton-news-container {
  height: 100rem;
  width: 100%;
  position: relative;
  padding: 20rem;
}

.news-button:hover {
  background-color: var(--DarkerYellow);
  transition: 300ms;
}

main {
  padding: 50rem 150rem;
  background-color: var(--BaseMain);
  font-weight: 300;
  min-height: 70vh;
}

@media only screen and (min-width: 1400px) {
  main {
    padding: 50rem 280rem;
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
  main {
    padding: 60rem;
  }

  .gray-center-text {
    font-size: 25rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 700px) {
}
