.container_Queries-NotasPublicar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30rem;
  align-items: center;
  justify-content: center;
  margin-top: 30rem;
}

.cardQuery-NotasPublicar {
  background-color: var(--DarkerYellow);
  color: var(--BaseTone);
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 250rem;
  padding: 35rem;
  width: auto;
  align-items: center;
}
.icon-NotasPublicar {
  font-size: 140rem;
}
.text_cardQuery-NotasPublicar {
  display: flex;
  flex-direction: column;
  font-size: 40rem;
}

.text_cardQuery-NotasPublicar h2 {
  font-size: 40rem;
}

@media only screen and (max-width: 970px) {
  .container_Queries-NotasPublicar {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15rem;
  }
  .cardQuery-NotasPublicar {
    grid-template-columns: 3fr 1fr;
    padding: 20rem;
    height: 180rem;
    
  }

  .text_cardQuery-NotasPublicar{
    font-size: 25rem;
  }

  .text_cardQuery-NotasPublicar h2 {
    font-size: 25rem;
  }

  .icon-NotasPublicar {
    font-size: 80rem;
  }
}
