.container-Pensum {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  justify-content: center;
  grid-gap: 30rem;
  height: auto;
}

.cardColumn-Pensum {
  height: 100%;
  background-color: white;
}
.header-Pensum {
  text-align: center;
  padding: 40rem;
  background-color: var(--BaseYellow);
  color: var(--BaseTone);
  border: 10rem white;
}

.header-Pensum h2{
  font-size: 40rem;
}

.text-Pensum{
  background-color: var(--BaseTone);
  padding: 10rem 0;
}

.details-Pensum{
  font-weight: 500;
  font-size: 20rem;
  padding: 15rem;
  cursor: pointer;
}


.details-Pensum p{
  font-weight: 300;
  font-size: 16rem;
  width: 100%;
  cursor: auto;
}

@media only screen and (max-width: 1000px) {
  .container-Pensum {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    
  }
}

@media only screen and (max-width: 700px) {
  .container-Pensum {
    grid-template-columns: repeat(1, 1fr);  
  }
}